node_modules/
dist/
.env
.env.local
.env.*.local
*.log
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~
.gradle/
build/
.classpath
.project
.settings/
bin/
.next/
out/
.cache
.parcel-cache
.nuxt
coverage
.nyc_output
dist
.cache/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*